.itembox img{
  width: 225px;
  height: 225px;
  object-fit: contain;
  }
  .itembox{
    width: 80%;
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  }
  
  .sarch_num { 
	margin-top: 10px;
	margin-left: 15px;
  }
  
  .text_center{
	text-align: center;
  }